<% include ./partials/header.ejs %>
<style>
  .card {
    background: linear-gradient(to right, #3b82f6 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 0.5s ease-out;
  }
  .card2 {
    background: linear-gradient(to right, #1cc88a 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 0.5s ease-out;
  }
  .card3 {
    background: linear-gradient(to right, #f6c23e 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 0.5s ease-out;
  }
  .card:hover,
  .card2:hover,
  .card3:hover {
    background-position: left bottom;
  }
</style>
<div class="div">
  <nav
    class="fixed top-0 z-50 w-full h-16 bg-white border-b border-gray-200 dark:bg-blue-500 dark:border-blue-800"
  >
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
          <button
            data-drawer-target="logo-sidebar"
            data-drawer-toggle="logo-sidebar"
            aria-controls="logo-sidebar"
            type="button"
            class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          >
            <span class="sr-only">Open sidebar</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
              ></path>
            </svg>
          </button>
          <a href="/home" class="flex ms-2 md:me-10">
            <img
              src="/images/20230430_211720_0000-removebg-preview.png"
              class="h-16"
              alt="FlowBite Logo"
            />
            <span
              class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap"
              >TuneMusic</span
            >
          </a>
        </div>
        <div class="flex pb-6">
          <div class="flex ms-3">
            <div>
              <button
                type="button"
                class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                aria-expanded="false"
                data-dropdown-toggle="dropdown-user"
              >
                <span class="sr-only">Open user menu</span>
                <img
                  class="w-8 h-8 rounded-full"
                  src="/images/20230430_211720_0000-removebg-preview.png"
                  alt="user photo"
                />
              </button>
            </div>
            <div
              class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
              id="dropdown-user"
            >
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-gray-900 dark:text-white" role="none">
                  <%= admin.name%>
                </p>
                <p
                  class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
                  role="none"
                >
                  <%= admin.email%>
                </p>
              </div>
              <!-- <ul class="py-1" role="none">
                  <li>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Dashboard</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Settings</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Earnings</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Sign out</a>
                  </li>
                </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <aside
    id="logo-sidebar"
    class="fixed top-5 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:dark:bg-blue-500 dark:border-blue-800"
    aria-label="Sidebar"
  >
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-blue-500">
      <ul class="space-y-2 font-medium">
        <li>
          <a
            href="/home"
            class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-blue-600 dark:hover:bg-blue-600 group"
          >
            <i class="text-xl ri-home-4-line"></i>
            <span class="ms-3">Home</span>
          </a>
        </li>
        <li>
          <a
            href="/adminsongs"
            class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-blue-600 dark:hover:bg-blue-600 group"
          >
            <i class="text-xl ri-file-music-line"></i>
            <span class="flex-1 ms-3 whitespace-nowrap">Songs</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-blue-600 dark:hover:bg-blue-600 group"
          >
            <svg
              class="flex-shrink-0 w-5 h-5 text-gray-100 transition duration-75 dark:text-gray-100 group-hover:text-gray-100 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 18"
            >
              <path
                d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
              />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Users</span>
          </a>
        </li>
        <li>
          <a
            href="/requestsongs"
            class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-blue-600 dark:hover:bg-blue-600 group"
          >
            <i class="text-xl ri-git-pull-request-line"></i>
            <span class="flex-1 ms-3 whitespace-nowrap">Requests</span>
          </a>
        </li>

        <li>
          <a
            href="/logout"
            class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-blue-600 dark:hover:bg-blue-600 group"
          >
            <svg
              class="flex-shrink-0 w-5 h-5 text-gray-100 transition duration-75 dark:text-gray-100 group-hover:text-gray-100 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"
              />
              <path
                d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z"
              />
              <path
                d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z"
              />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Sign out</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <div class="p-4 sm:ml-64">
    <div class="div p-4 mt-16">
      <h1 class="text-zinc-800 text-2xl font-[600] pb-5">Dashboard</h1>
      <div class="border-gray-200 rounded-lg">
        <div class="grid grid-cols-3 gap-4 mb-4">
          <div
            class="flex card w-full items-center justify-between px-10 text-blue-600 bg-[#fff] border-l-4 border-blue-500 rounded-lg text-center hover:text-[#fff] h-32 dark:bg-gray-700"
          >
            <div class="para flex flex-col items-start">
              <h2 class="text-xl font-[600]">Total Users</h2>
              <p class="text-zinc-600 font-semibold"><%= users.length%></p>
            </div>
            <i class="ri-user-star-line text-5xl text-zinc-700"></i>
          </div>
          <div
            class="flex card2 items-center justify-between px-10 text-[#1CC88A] bg-[#fff] border-l-4 border-[#1CC88A] rounded-lg text-center hover:text-[#fff] h-32 dark:dark:bg-zinc-700"
          >
            <div class="para flex flex-col items-start">
              <h2 class="text-xl font-[600]">Total Songs</h2>
              <p class="text-zinc-700 font-semibold"><%= songs.length%></p>
            </div>

            <i class="text-5xl text-zinc-700 ri-file-music-line"></i>
          </div>
          <div
            class="flex card3 items-center justify-between px-10 text-[#F6C23E] bg-[#fff] border-l-4 border-[#F6C23E] rounded-lg text-center hover:text-[#fff] h-32 dark:dark:bg-zinc-700"
          >
            <div class="para flex flex-col items-start">
              <h2 class="text-xl font-[600]">Total Requests</h2>
              <p class="text-zinc-700 font-semibold"><%= requests.length%></p>
            </div>

            <i class="text-5xl text-zinc-700 ri-git-pull-request-line"></i>
          </div>
        </div>
        <div
          class="flex items-center justify-center h-28 mb-4 rounded bg-gray-50"
        >
          <h1 class="text-3xl font-bold">Welcome Back to TuneMusic</h1>
        </div>
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div
            class="flex h-full items-center justify-center rounded bg-gray-50 w-full"
          >
            <div
              class="w-full p-4 bg-white text-black rounded-lg shadow sm:p-8 dark:bg-gray-200 dark:border-gray-700"
            >
              <div class="flex items-center justify-between mb-4">
                <h5 class="text-xl font-bold leading-none text-gray-900">
                  Users
                </h5>
                <a
                  href="#"
                  class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"
                >
                  View all
                </a>
              </div>
              <div class="flow-root">
                <ul
                  role="list"
                  class="divide-y divide-gray-200 dark:divide-gray-700"
                >
                  <% user.forEach(function(users){ %>
                  <li class="py-3 sm:py-4">
                    <div class="flex items-center">
                      <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="" alt="" />
                      </div>
                      <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate">
                          <%=users.name%>
                        </p>
                        <p
                          class="text-sm text-gray-500 truncate dark:text-gray-400"
                        >
                          <%=users.email%>
                        </p>
                      </div>
                      <div
                        class="inline-flex items-center text-base font-semibold text-gray-900"
                      >
                        Total songs : <%=users.songs.length%>
                      </div>
                    </div>
                  </li>
                  <%})%>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="flex items-center justify-center rounded bg-gray-50 h-full w-full"
          >
            <div
              class="w-full p-4 bg-white text-black rounded-lg shadow sm:p-8 dark:bg-gray-200 dark:border-gray-700"
            >
              <div class="flex items-center justify-between mb-4">
                <h5 class="text-xl font-bold leading-none text-gray-900">
                  Latest Request
                </h5>
                <a
                  href="/requestsongs"
                  class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"
                >
                  View all
                </a>
              </div>
              <div class="flow-root">
                <ul
                  role="list"
                  class="divide-y divide-gray-200 dark:divide-gray-700"
                >
                  <% request.forEach(function(users){ %>
                  <li class="py-3 sm:py-4">
                    <div class="flex items-center">
                      <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="" alt="" />
                      </div>
                      <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate">
                          <%=users.name%>
                        </p>
                        <p
                          class="text-sm text-gray-500 truncate dark:text-gray-400"
                        >
                          <%=users.email%>
                        </p>
                      </div>
                      <div
                        class="inline-flex items-center text-base font-semibold text-gray-900"
                      >
                        Total songs : <%=users.songs.length%>
                      </div>
                    </div>
                  </li>
                  <%})%>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
