<% include ./partials/header.ejs %>
<style>
    @media (prefers-color-scheme: dark) {
                  .dark\:bg-gray-900\/80 {
                background-color: transparent; 
            }
        }
        .button-group button.active {
          background-color: blue;
          color: #fff;
      }
</style>
<div class="div">
  <nav
  class="fixed top-0 z-50 w-full h-20 bg-zinc-100 border-b border-gray-200  "
>
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button
          data-drawer-target="logo-sidebar"
          data-drawer-toggle="logo-sidebar"
          aria-controls="logo-sidebar"
          type="button"
          class="inline-flex items-center p-2 text-sm  rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400  dark:focus:ring-gray-100"
        >
          <span class="sr-only">Open sidebar</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
        <a href="/UserHome" class="flex ms-2 md:me-10">
          <img
            src="/images/20230430_211720_0000-removebg-preview.png"
            class="h-16"
            alt="FlowBite Logo"
          />
          <span
            class="self-center pr-16 text-xl font-semibold sm:text-2xl whitespace-nowrap"
            >Tune Music Label</span
          >
        </a>
      </div>
      
    </div>
  </div>
</nav>
<aside
  id="logo-sidebar"
  class="fixed top-5 left-0 z-40 w-42 h-screen pt-20 transition-transform -translate-x-full bg-white  border-r border-gray-200 sm:translate-x-0  "
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto  ">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="/UserHome"
          class="flex items-center p-2 text-black rounded-lg dark:text-black hover:bg-zinc-100 dark:hover:bg-zinc-100 group"
        >
          <i class="text-2xl ri-home-4-line"></i>
         
        </a>
      </li>
      <li>
        <a
          href="/songs"
          class="flex items-center p-2 text-black rounded-lg dark:text-black hover:bg-zinc-100 dark:hover:bg-zinc-100 group"
        >
          <i class="text-2xl ri-file-music-line"></i>
          
        </a>
      </li>
      
      <li>
        <a
          href="/userprofile"
          class="flex items-center p-2 text-black rounded-lg dark:text-black hover:bg-zinc-100 dark:hover:bg-zinc-100 group"
        >
        <i class="text-2xl ri-settings-2-line"></i>
         
        </a>
      </li>

      <li>
        <a
          href="/logout"
          class="flex items-center p-2 text-black rounded-lg dark:text-black hover:bg-zinc-100 dark:hover:bg-zinc-100 group"
        >
        <i class="text-xl ri-login-box-line"></i>
          
        </a>
      </li>
    </ul>
  </div>
</aside>
  <div class="p-4 sm:ml-16 bg-zinc-100">
    <div class="div h-full md:px-7 lg:p-4 mt-16">
        <div class="div flex justify-between">

            <h1 class="text-zinc-800 text-2xl font-[600] pb-5">Dashboard</h1>
            <div class="div overflow-hidden h-10 w-10 rounded-full bg-red-900">
              <%if(loggedInUser.image && loggedInUser.image.length > 0){%>
                <img class="h-full w-full object-cover" src="<%=loggedInUser.image%>" alt="">
              <%}else{%>
                <img class="h-full w-full object-cover" src="/images/user.jpg" alt="">
              <%}%>

            </div>
        </div>
   
        <div class="div h-full w-full">
          <div class="div button-group gap-2 flex md:gap-4">
            <button id="approvedBtn" class="bg-white active rounded-lg px-2 md:py-1 md:px-4">Approved</button>
            <button id="pendingBtn" class="bg-white rounded-lg px-2 md:py-1 md:px-4">Pending</button>
            <button id="rejectedBtn" class="bg-white rounded-lg px-2 md:py-1 md:px-4">Rejected</button>
          </div>
          <div id="songContainer" class="div song-container flex flex-col md:flex-row md:flex-wrap items-center gap-5 h-full py-7 w-full ">
              <%if(loggedInUser.songs && loggedInUser.songs.length > 0){%>
                <%loggedInUser.songs.forEach(function(song){%>
                  <a  href="/usersongs/<%=song._id%>">

                    <div  data-status="<%=song.status%>" class="  song w-72 relative  h-72 border  rounded-lg shadow  ">
                      
                            <img class="rounded-lg h-full w-full object-cover" src="<%=song.posterUrl%>" alt="" />
                       
                      <h1 class="absolute bottom-5 left-5 px-2 py-1 rounded-lg text-white bg-[#ffffff58] "><%=song.title%></h1>
                    </div>
                  </a>  
                  <%})%>   
                <%}else{%>
                  <div class="div text-black text-2xl font-bold">No Requests here...</div>
                  <%}%>
        
        
             </div>
        
        </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const approvedBtn = document.getElementById('approvedBtn');
    const pendingBtn = document.getElementById('pendingBtn');
    const rejectedBtn = document.getElementById('rejectedBtn');
    const songs = document.querySelectorAll('.song');

    function filterSongs(status) {
        songs.forEach(song => {
            if (song.dataset.status === status) {
                song.style.display = 'block';
            } else {
                song.style.display = 'none';
            }
        });
        // Change background color of the buttons
        approvedBtn.classList.remove('active');
        pendingBtn.classList.remove('active');
        rejectedBtn.classList.remove('active');
        if (status === 'approve') {
            approvedBtn.classList.add('active');
        } else if (status === 'pending') {
            pendingBtn.classList.add('active');
        } else if (status === 'reject') {
            rejectedBtn.classList.add('active');
        }
    }

    approvedBtn.addEventListener('click', () => {
        filterSongs('approve');
    });

    pendingBtn.addEventListener('click', () => {
        filterSongs('pending');
    });

    rejectedBtn.addEventListener('click', () => {
        filterSongs('reject');
    });

    // Set default filter to 'Approved' on page load
    filterSongs('approve');
});
</script>